.navbar {
  background: #000;
  color: white;
  padding: 10px;
}

.navbar span {
  margin: 0 10px;
}

.calendar-day {
  border-bottom: 1px solid rgb(218 220 224);
  border-collapse: collapse;
  border-left: 1px solid rgb(218 220 224);
}

.calendar {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: calc(100vh - 50px - 22px);
  margin: 0 0 0 20px;
}

.weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 20px;
  margin: 0 0 0 20px;
}

.weekday {
  border-bottom: 1px solid rgb(218 220 224);
  border-collapse: collapse;
  border-left: 1px solid rgb(218 220 224);
  height: 22px;
  text-align: center;
}

.event {
  background: rgb(177 177 244);
  border-radius: 2px;
  color: white;
  line-height: 1;
  margin-bottom: 2px;
  width: 80%;
}

.add-event-dialog__content {
  display: flex;
  flex-direction: column;
}

.add-event-dialog__input {
  margin-bottom: 5px;
}

.next-enter {
  opacity: 0;
  transform: translateX(100%);
}

.next-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

.prev-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.prev-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}
